# DDL Auditory Exercise

Welcome to the auditory exercise on **Data Definition Language (DDL)**! In this session, we will explore the essential building blocks of relational database design and management. DDL is a crucial part of SQL that allows us to define, create, and manage database schema effectively. Understanding DDL expressions is a foundational skill for anyone looking to work with databases in real-world scenarios.

## What You Will Learn

By the end of this exercise, you will have a comprehensive understanding of:

1. **Creating Tables from Given Relations**
    
    - Learn how to translate theoretical relational models into practical database tables using DDL statements.
    - Gain hands-on experience in defining table structures in a real-life database environment.
2. **Working with Constraints**
    
    - Understand the different types of constraints, such as primary keys, foreign keys, unique constraints, and check constraints.
    - Learn how these constraints ensure data validity and consistency.
3. **Using ALTER TABLE Statements**
    
    - Master how to modify existing tables using `ALTER TABLE` expressions, whether to add, modify, or drop columns and constraints.
4. **Database Integrity and Maintenance**
    
    - Explore the concept of database integrity and the role of constraints in enforcing it.
    - Learn how to maintain data accuracy, reliability, and consistency through integrity constraints.

## What You Will Be Capable Of

After completing the exercise, you will be able to:

- Design and create tables that reflect real-world data relationships.
- Implement and enforce constraints to ensure data integrity in a database.
- Modify existing database schema safely and efficiently using `ALTER TABLE` statements.
- Apply best practices to maintain database integrity and prevent data anomalies.

This exercise is designed to equip you with practical skills and theoretical knowledge that you can directly apply in database management tasks, whether for academic projects or real-world applications. Let's dive into the world of DDL and start building robust database structures!

# Data Types in Microsoft SQL Server and SQLite

## Microsoft SQL Server Data Types

### Numeric Data Types
- **INT**: Integer, 4 bytes, range: -2,147,483,648 to 2,147,483,647.
- **BIGINT**: Large integer, 8 bytes, range: -9,223,372,036,854,775,808 to 9,223,372,036,854,775,807.
- **SMALLINT**: Small integer, 2 bytes, range: -32,768 to 32,767.
- **TINYINT**: Tiny integer, 1 byte, range: 0 to 255.
- **DECIMAL(p, s)** or **NUMERIC(p, s)**: Fixed precision and scale.
- **FLOAT(n)**: Approximate number with floating precision.
- **REAL**: Approximate number, 4 bytes.

### String Data Types
- **CHAR(n)**: Fixed-length character data.
- **VARCHAR(n)**: Variable-length character data.
- **TEXT**: Variable-length text data, limited to 2 GB.
- **NCHAR(n)**: Fixed-length Unicode character data.
- **NVARCHAR(n)**: Variable-length Unicode character data.
- **NTEXT**: Variable-length Unicode text data (deprecated).

### Date and Time Data Types
- **DATE**: Date only, format: `YYYY-MM-DD`.
- **DATETIME**: Date and time, range: `1753-01-01` to `9999-12-31`.
- **SMALLDATETIME**: Date and time, range: `1900-01-01` to `2079-06-06`.
- **TIME**: Time only.
- **DATETIME2**: Date and time with larger range and precision.
- **DATETIMEOFFSET**: Date and time with time zone offset.

### Binary Data Types
- **BINARY(n)**: Fixed-length binary data.
- **VARBINARY(n)**: Variable-length binary data.
- **IMAGE**: Variable-length binary data, limited to 2 GB (deprecated).

### Other Data Types
- **BIT**: Boolean data type, 0 (false) or 1 (true).
- **UNIQUEIDENTIFIER**: Globally unique identifier (GUID).
- **XML**: XML data.
- **JSON**: JSON data type (via `NVARCHAR` for structured data).
- **SQL_VARIANT**: Stores values of various data types.
- **HIERARCHYID**: Represents a position in a hierarchy.
- **GEOGRAPHY**/**GEOMETRY**: Spatial data types.

---

## SQLite Data Types

SQLite uses a dynamic typing system with storage classes rather than fixed data types. The main storage classes are:

### Numeric Data Types
- **INTEGER**: Whole numbers (1, 2, 4, 8 bytes depending on size).
- **REAL**: Floating-point numbers, 8 bytes.

### Text Data Types
- **TEXT**: Variable-length string data, stored as UTF-8, UTF-16BE, or UTF-16LE.

### Blob Data Type
- **BLOB**: Binary Large Object, used for binary data.

### Null
- **NULL**: Represents missing or undefined values.

### Aliases (Mapped to Storage Classes)
SQLite allows custom type names that map to its storage classes:
- **BOOLEAN**: Mapped to `INTEGER` (0 = false, 1 = true).
- **VARCHAR(n)**: Mapped to `TEXT`.
- **CHAR(n)**: Mapped to `TEXT`.
- **NUMERIC**: Mapped to `REAL` or `INTEGER` depending on value.
- **DATE**/**DATETIME**: Stored as `TEXT`, `REAL`, or `INTEGER` depending on format.

---

## Comparison Notes
- **SQL Server** has a rich set of predefined data types, including specialized ones like `GEOGRAPHY`, `UNIQUEIDENTIFIER`, and `DATETIMEOFFSET`.
- **SQLite** uses a more flexible, dynamic typing system with a small set of core storage classes.
- In SQLite, the declared type is more of a hint, and data can still be stored in a different format based on its value.

Refer to the official documentation of each database for detailed usage and limitations of these data types.

# Problem 1

## Problem 1: Creating Tables from an ER Diagram

Based on the provided ER diagram and the derived relationships, your task is to create all the corresponding relations as tables in a real-life database. Each table should be defined with the appropriate attributes, data types, and constraints to accurately represent the structure and rules of the given data model.

![Products_ER](.\products.png)

Create the tables for the following relations, and define the primary and foreign keys with the referential integrity constraints:

- **SUPPLIER** (<u>`Scode`</u>, `name`, `balance`, `city`)
- **PRODUCT** (<u>`Pcode`</u>, <u>`TypeCode`</u>, `name`, `color`, `weight`, `city`)
- **OFFERS** (<u>`Scode*`</u>, <u>`Pcode*`</u>, <u>`TypeCode*`</u>, `quantityOrdered`, `order_date`, `quantityDelivered`, `delivery_date`)

### Guidelines for Table Creation

1. **Primary Keys**: Ensure each table has a primary key defined to uniquely identify records.
2. **Foreign Keys**: Establish the necessary foreign keys in the `OFFERS` table to reference the `SUPPLIERS` and `PRODUCTS` tables, maintaining referential integrity.
    - `Scode*` should reference `Scode` in `SUPPLIERS`.
    - `Pcode*` and `TypeCode*` should reference `Pcode` and `TypeCode` in `PRODUCTS`.
3. **Referential Integrity Constraints**: Implement appropriate constraints to enforce the relationships between tables.

This task will help you apply theoretical database design principles to a practical scenario, transforming abstract data models into a fully functional database schema.

In [2]:
/*
    This script checks if a database named 'db_first_exercise' exists:
    - If the database does NOT exist, it creates a new empty database.
    - If the database DOES exist, it deletes all tables within the database by:
        1. Dropping all foreign key constraints to handle dependencies.
        2. Dropping all tables to make the database empty.
*/

-- Check if the database exists
IF (SELECT COUNT(*) FROM sys.databases WHERE name = 'db_first_exercise') = 0
BEGIN
    -- Create the database if it doesn't exist
    CREATE DATABASE db_first_exercise;
    PRINT 'Database created: db_first_exercise';
END
ELSE
BEGIN
    PRINT 'Database already exists: db_first_exercise';
END

GO
-- Use the database
USE db_first_exercise;

-- Step 1: Drop all foreign key constraints if any exist
IF EXISTS (SELECT * FROM sys.foreign_keys)
BEGIN
    DECLARE @sql NVARCHAR(MAX);
    SET @sql = '';

    SELECT @sql = @sql + 'ALTER TABLE [' + OBJECT_NAME(parent_object_id) 
                 + '] DROP CONSTRAINT [' + name + '];' + CHAR(13)
    FROM sys.foreign_keys;

    EXEC sp_executesql @sql;
    PRINT 'Foreign keys dropped';
END
ELSE
BEGIN
    PRINT 'No foreign keys to drop';
END

-- Step 2: Drop all tables if any exist
IF EXISTS (SELECT * FROM sys.tables)
BEGIN
    SET @sql = '';

    SELECT @sql = @sql + 'DROP TABLE [' + name + '];' + CHAR(13)
    FROM sys.tables;

    EXEC sp_executesql @sql;
    PRINT 'Tables dropped';
END
ELSE
BEGIN
    PRINT 'No tables to drop';
END

In [2]:
-- The USE statement switches the context to the 'db_exercises' database.
-- After this command, all subsequent SQL operations will be executed within the 'db_exercises' database.

use db_first_exercise;

## Task: Create a Table for Supplier Information

Create a table named `Supplier` with the following columns:

1. `Scode`: An integer column that serves as the primary key, ensuring each supplier has a unique identifier.
2. `Name`: A variable-length string column (`VARCHAR`) with a maximum length of 50 characters to store the supplier's name.
3. `Balance`: A decimal column to represent the supplier's financial balance.
4. `City`: A variable-length string column (`VARCHAR`) with a maximum length of 50 characters to specify the city where the supplier is located.

Ensure the table design meets the requirements, particularly the uniqueness of the `Scode` column as the primary key.

In [38]:
-- SQL for creating table named Supplier with all necessary attributes

/*

Square brackets are used because 'Name' is a reserved keyword in SQL Server.
Using brackets ensures that the database interprets 'Name' as a column name,
not as the reserved keyword.

*/

CREATE TABLE Supplier(
    Scode INT PRIMARY KEY,
    [Name] VARCHAR(50),
    Balance DECIMAL,
    City VARCHAR(50)
);

In [39]:
/*
After creating the table, you can use the following statement to check its contents:
SELECT * FROM dbo.Supplier;

Explanation of each part of the statement:
1. SELECT: Specifies that you want to retrieve data from a table.
2. *: A wildcard that means "all columns," instructing the query to return every column in the table.
3. FROM: Indicates the source table from which to retrieve the data.
4. dbo.Supplier: The fully qualified name of the table, where:
   - 'dbo' is the schema (a namespace for organizing database objects).
   - 'Supplier' is the name of the table being queried.

This statement fetches all rows and columns from the 'Supplier' table, allowing you to verify its contents
after creation or during debugging.
*/


SELECT * FROM dbo.Supplier;

## Task: Create a Table for Product Information

Create a table named `Product` with the following columns and constraints:

1. **Pcode**: An integer column that serves as part of the composite primary key, uniquely identifying each product in combination with `TypeCode`.
2. **TypeCode**: An integer column that categorizes the product type and is the second part of the composite primary key.
3. **Name**: A variable-length string column (`VARCHAR`) with a maximum length of 50 characters to store the product's name.
4. **Color**: A variable-length string column (`VARCHAR`) with a maximum length of 50 characters to specify the product's color.
5. **Weight**: A variable-length string column (`VARCHAR`) with a maximum length of 50 characters to represent the product's weight.
6. **City**: A variable-length string column (`VARCHAR`) with a maximum length of 30 characters to indicate the city associated with the product.

### Table Constraints:
- **Composite Primary Key**:
  - The primary key for this table is a combination of two columns: `Pcode` and `TypeCode`.
  - This ensures that each product in the table is uniquely identified by the combination of these two values.
  - For example:
    - If `Pcode = 1` and `TypeCode = 10` is a valid row, no other row can have the same `Pcode` and `TypeCode` combination.
    - However, it is possible for `Pcode = 1` to appear with a different `TypeCode`, or for `TypeCode = 10` to appear with a different `Pcode`.

### Key Points About the Composite Key:
- A **composite key** is a primary key that consists of two or more columns.
- It ensures that the combination of these columns is unique across all rows in the table.
- Using a composite key is helpful when a single column alone cannot uniquely identify a record, but a combination of columns can.
- This design enforces both uniqueness and a logical relationship between the two columns (`Pcode` and `TypeCode`) that define the product.

Ensure the table design meets the requirements, particularly the enforcement of the composite primary key constraint to maintain data integrity and uniqueness.

In [40]:
-- SQL for creating table named Product with all necessary attributes

/*

In this table definition, square brackets ([]) are used around the column names 'Name' and 'Weight'.
This is because 'Name' and 'Weight' are reserved keywords in SQL Server. Reserved keywords are words that 
have a special meaning in SQL and are used by the system to perform certain actions. 

*/

CREATE TABLE Product(
    Pcode INT,
    TypeCode INT, 
    [Name] VARCHAR(50),
    Color VARCHAR(50),
    [Weight] VARCHAR(50),
    City VARCHAR(30),
    CONSTRAINT pk_pcode_typecode_constraint PRIMARY KEY(Pcode, TypeCode)
);

In [41]:
/*

After creating the table, you can use the following statement to check its contents:
SELECT * FROM dbo.Supplier;

*/

SELECT * FROM dbo.Product;

## Task: Create a Table for Offers Information

Create a table named `Offers` with the following columns and constraints:

1. **Scode**: An integer column that represents the supplier's unique identifier, with a default value of `0`. This is part of the composite primary key.
2. **Pcode**: An integer column that represents the product's unique identifier, part of the composite primary key, along with `TypeCode`.
3. **TypeCode**: An integer column that categorizes the product type and is part of the composite primary key.
4. **quantityOrdered**: An integer column that stores the quantity of the product ordered by the supplier.
5. **dateOrder**: A `DATETIME` column to store the date when the order was placed.
6. **quantityDelivered**: An integer column that represents the quantity of the product delivered to the supplier.
7. **dateDelivered**: A `DATETIME` column to record the date when the product was delivered.

### Table Constraints:

- **Composite Primary Key**: The primary key for the `Offers` table is a combination of three columns: `Scode`, `Pcode`, and `TypeCode`. This ensures that each offer is uniquely identified by the combination of these three values. For example, no two rows can have the same `Scode`, `Pcode`, and `TypeCode` combination, ensuring uniqueness.
    
- **Foreign Key Constraints**:
    
    - A foreign key constraint is applied on the `Scode` column, referencing the `Scode` column in the `Supplier` table. This establishes a relationship between the `Offers` table and the `Supplier` table, ensuring that the `Scode` in the `Offers` table must exist in the `Supplier` table.
    - A foreign key constraint is applied on the combination of `Pcode` and `TypeCode`, referencing the `Pcode` and `TypeCode` columns in the `Product` table. This establishes a relationship between the `Offers` table and the `Product` table, ensuring that the combination of `Pcode` and `TypeCode` in the `Offers` table must exist in the `Product` table.

### Key Points About the Table Design:

- **Many-to-Many Relationship**: This table represents a many-to-many relationship between the `Supplier` and `Product` tables. A single supplier can offer multiple products, and a product can be offered by multiple suppliers. The composite primary key (`Scode`, `Pcode`, `TypeCode`) ensures that each unique combination of supplier and product is represented as a separate row in the table.
- **Enforcement of Data Integrity**: The foreign key constraints ensure that only valid `Scode` and `Pcode, TypeCode` values can be inserted into the `Offers` table. This maintains referential integrity between the `Offers`, `Supplier`, and `Product` tables.

Ensure the table design meets the requirements, particularly the enforcement of the composite primary key constraint and the foreign key constraints to maintain data integrity and uniqueness.

In [42]:
-- SQL for creating table named Offers with all necessary attributes

CREATE TABLE Offers(
    -- The column 'Scode' is an integer, and it has a default value of 0.
    -- The 'DEFAULT 0' means that if no value is provided for the 'Scode' column when inserting data, the value will automatically be set to 0.
    -- In this case, 0 represents a default supplier ID in the table, acting as a placeholder or a special entry to represent a supplier when no specific supplier is involved.
    -- The default value of 0 ensures that an 'Offers' record is always linked to a supplier, even if no specific 'Scode' is provided.
    -- IMPORTANT: The record with 'Scode' = 0 should **always exist** in the 'Supplier' table to represent the default supplier. 
    -- If the record with 'Scode' = 0 does not exist in the 'Supplier' table, any references to this ID in the 'Offers' table will result in a foreign key constraint violation.
    Scode INT DEFAULT 0, 
    
    Pcode INT, 
    TypeCode INT,
    quantityOrdered INT, 
    dateOrder DATETIME,
    quantityDelivered INT,
    dateDelivered DATETIME,

    -- Primary key constraint to ensure that each combination of Scode, Pcode, and TypeCode is unique.
    CONSTRAINT pk_offers PRIMARY KEY(Scode, Pcode, TypeCode),
    
    -- Foreign key constraint linking Scode to the Supplier table to ensure referential integrity.
    CONSTRAINT fk_supplier FOREIGN KEY (Scode) REFERENCES dbo.Supplier(Scode),
    
    -- Foreign key constraint linking Pcode and TypeCode to the Product table to ensure referential integrity.
    CONSTRAINT fk_product FOREIGN KEY (Pcode, TypeCode) REFERENCES dbo.Product(Pcode, TypeCode)
);

In [ ]:
/*

After creating the table, you can use the following statement to check its contents:
SELECT * FROM dbo.Offers;

*/

SELECT * FROM dbo.Offers;

In [ ]:
-- delete tables if necessary
-- drop table if EXISTS dbo.offers
-- GO
-- drop table if EXISTS dbo.products
-- GO
-- drop table if exists dbo.suppliers

## Inserting Data into the Table

Inserting data into a table in SQL can be done in two primary ways: inserting a **single row** or performing a **bulk insert**. Both methods allow you to add data to the table, but they are used in different scenarios based on the amount of data being inserted.

### 1. Inserting a Single Row

This method is used when you need to insert one row of data at a time into a table. It's typically used for inserting individual records.

**Syntax:**

```sql
INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);
```
### 2. Bulk Insert

When you need to insert multiple rows of data into a table at once, you can use the bulk insert method. This method is more efficient for adding large volumes of data compared to inserting rows one at a time.

**Syntax:**

```sql
INSERT INTO table_name (column1, column2, column3, ...)
VALUES 
    (value1_row1, value2_row1, value3_row1, ...),
    (value1_row2, value2_row2, value3_row2, ...),
    (value1_row3, value2_row3, value3_row3, ...);
```

## Key Differences

- **Single Row Insert**: Typically used when adding one record at a time, making it useful for small data operations.
- **Bulk Insert**: Efficient for inserting multiple rows of data at once, reducing the overhead of multiple insert statements, and improving performance for large datasets.

## Task: Inserting Data into the `Supplier` Table

In this task, we will insert records into the `Supplier` table using the **Single Row Insert** approach. Each insert will add one record at a time into the table.

In [61]:
-- insert rectords into table 1st. approach
INSERT INTO dbo.Supplier (Scode, [Name], Balance, City) VALUES (0, 'Deleted supplier', -1, 'None');
INSERT INTO dbo.Supplier (Scode, [Name], Balance, City) VALUES (101, 'SupplierA', 101010.50, 'Skopje');
INSERT INTO dbo.Supplier (Scode, [Name], Balance, City) VALUES (102, 'Supplier B', 20000, 'Los Angeles');
INSERT INTO dbo.Supplier (Scode, [Name], Balance, City) VALUES (103, 'Supplier C', 12000, 'Chicago');
INSERT INTO dbo.Supplier (Scode, [Name], Balance, City) VALUES (104, 'Supplier D', 18000, 'Houston');
INSERT INTO dbo.Supplier (Scode, [Name], Balance, City) VALUES (105, 'Supplier E', 25000, 'Phoenix');

In [62]:
/*

After inserting the data into the table, you can use the following statement to check its contents:
SELECT * FROM dbo.Supplier;

*/
SELECT * FROM dbo.Supplier

Scode,Name,Balance,City
0,Deleted supplier,-1,None
101,SupplierA,101011,Skopje
102,Supplier B,20000,Los Angeles
103,Supplier C,12000,Chicago
104,Supplier D,18000,Houston
105,Supplier E,25000,Phoenix

## Task: Inserting Data into the `Product` Table

In this task, we will insert records into the `Product` table using the **Bulk-Insert** approach. Each insert will add one record at a time into the table.

In [45]:
-- insert rectords into table 2st. approach, bulk-insert.


INSERT INTO dbo.Product (Pcode, TypeCode, [Name], Color, [Weight], City)
VALUES
(10001, 01, 'Product 1', 'Red', 10, 'Dallas'),
(10002, 02, 'Product 2', 'Blue', 12, 'Miami'),
(10003, 03, 'Product 3', 'Green', 15, 'Atlanta'),
(10004, 04, 'Product 4', 'Black', 8, 'Seattle'),
(10005, 05, 'Product 5', 'White', 9, 'Boston');

In [46]:
/*

After inserting the data into the table, you can use the following statement to check its contents:
SELECT * FROM dbo.Product;

*/
SELECT * FROM dbo.Product

Pcode,TypeCode,Name,Color,Weight,City
10001,1,Product 1,Red,10,Dallas
10002,2,Product 2,Blue,12,Miami
10003,3,Product 3,Green,15,Atlanta
10004,4,Product 4,Black,8,Seattle
10005,5,Product 5,White,9,Boston

## Task: Inserting Data into the `Offers` Table

In this task, we will insert records into the `Offers` table using the **Bulk-Insert** approach. Each insert will add one record at a time into the table.

In [47]:
-- insert records into table offers

INSERT INTO dbo.Offers (Scode, Pcode, TypeCode, quantityOrdered, dateOrder, quantityDelivered, dateDelivered)
VALUES 
(101, 10001, 01, 100, '2023-01-10', 90, '2023-01-15'),
(102, 10002, 02, 150, '2023-02-20', 150, '2023-02-25'),
(103, 10003, 03, 200, '2023-03-15', 180, '2023-03-22'),
(104, 10004, 04, 250, '2023-04-10', 230, '2023-04-17'),
(105, 10005, 05, 300, '2023-05-05', 290, '2023-05-12');

In [48]:
/*

After inserting the data into the table, you can use the following statement to check its contents:
SELECT * FROM dbo.Offers;

*/

SELECT * FROM dbo.Offers;

Scode,Pcode,TypeCode,quantityOrdered,dateOrder,quantityDelivered,dateDelivered
101,10001,1,100,2023-01-10 00:00:00.000,90,2023-01-15 00:00:00.000
102,10002,2,150,2023-02-20 00:00:00.000,150,2023-02-25 00:00:00.000
103,10003,3,200,2023-03-15 00:00:00.000,180,2023-03-22 00:00:00.000
104,10004,4,250,2023-04-10 00:00:00.000,230,2023-04-17 00:00:00.000
105,10005,5,300,2023-05-05 00:00:00.000,290,2023-05-12 00:00:00.000

## Task Description: Referential Integrity Modifications

In this task, we will modify the newly created tables to satisfy the following referential integrity requirements. These changes will ensure that the database maintains consistency and prevents data issues when certain operations, like deleting or updating supplier or product records, occur. 

The modifications focus on how to handle updates or deletions in the `Supplier` and `Product` tables, ensuring that the related data in other tables is automatically handled.

### Requirements:

1. **When a supplier code is deleted**: 
   - We want to set the default value (which is `Scode = 0` in the `Supplier` table) in all the tables where this `Scode` is being referenced. This ensures that when a supplier is deleted, no records in related tables are left orphaned, and the reference is changed to the default supplier.

2. **When a supplier code is updated**:
   - We want to automatically update all the tables where this `Scode` is being referenced to reflect the new value. This ensures that the database remains consistent when a supplier's `Scode` is changed.

3. **When a primary key in the `Product` table is deleted**:
   - We want to delete all the records in other tables that reference this `Product` primary key. This ensures that when a product is removed, no related records remain in other tables, maintaining the integrity of the database.

4. **When a primary key in the `Product` table is modified**:
   - We want to update all the tables where this product primary key is being referenced. This ensures that when a product's primary key is changed, all related records are updated to reflect the new primary key.

### Tasks:

- **Task 1**: Modify the `Supplier` foreign key references in other tables to implement `ON DELETE SET DEFAULT` and `ON UPDATE CASCADE`.
- **Task 2**: Modify the `Product` foreign key references in other tables to implement `ON DELETE CASCADE` and `ON UPDATE CASCADE`.

## Task 1 - Modify the `Supplier` foreign key references in other tables to implement `ON DELETE SET DEFAULT` and `ON UPDATE CASCADE`.

In [ ]:
ALTER TABLE dbo.Offers
DROP CONSTRAINT fk_supplier;

GO

ALTER TABLE dbo.Offers
ADD CONSTRAINT fk_supplier FOREIGN KEY(Scode) REFERENCES dbo.Supplier(Scode)
ON DELETE SET DEFAULT ON UPDATE CASCADE;

# Referential Integrity in the Database

Referential integrity is a fundamental concept in relational database management systems (RDBMS) that ensures the consistency and accuracy of data across related tables. It is enforced through the use of **foreign key constraints**, which maintain the relationships between tables by ensuring that key values in one table correspond to valid entries in another table.

## What is a Foreign Key?

A foreign key is a column or set of columns in a table that uniquely identifies a row of another table. Foreign key constraints are used to ensure that the data in the database is consistent and prevent invalid data from being inserted.

In the context of the `Offers` table, for example, the `Scode` column is a foreign key that references the `Scode` column in the `Supplier` table. This ensures that every offer is associated with a valid supplier.

## ON DELETE SET DEFAULT

When establishing a foreign key relationship between tables, it is possible to specify actions to take when a referenced record in the parent table (in this case, the `Supplier` table) is deleted. The **`ON DELETE SET DEFAULT`** action is used to automatically set the value of the foreign key column to a default value when the referenced record is deleted.

For example, if a `Supplier` record is deleted, and there is an `ON DELETE SET DEFAULT` constraint on the `Offers` table, the `Scode` in the `Offers` table will automatically be set to its default value (in this case, `0`). This ensures that the `Offers` table does not contain any null or invalid references and maintains referential integrity even after the deletion of a record in the parent table.

```sql
CONSTRAINT fk_supplier FOREIGN KEY (Scode)
REFERENCES dbo.Supplier(Scode)
ON DELETE SET DEFAULT;
```

This constraint is particularly useful when you want to maintain data integrity in situations where the parent record may be deleted, but you want to ensure that the dependent records (in this case, offers) are not left with invalid or null foreign key references.

## Why Create a Record with ID 0 in the Supplier Table?

To ensure the proper functioning of the `ON DELETE SET DEFAULT` constraint and maintain the integrity of the `Offers` table, we create a record with the ID `0` in the `Supplier` table. This record serves as the **default supplier** for any `Offers` that are either not linked to a specific supplier or are linked to a supplier that may no longer exist.

### The Role of the Default Supplier:

- **Placeholder for missing supplier data**: The `Scode = 0` represents a special entry in the `Supplier` table that acts as a placeholder. It is used when no specific supplier is associated with an `Offer`.
  
- **Ensuring data integrity**: If a supplier is deleted from the `Supplier` table, the `ON DELETE SET DEFAULT` action ensures that any `Offers` linked to that supplier are automatically reassigned to the default supplier with `Scode = 0`. This prevents orphaned records and ensures that the `Offers` table remains consistent and valid.
  
- **Prevents foreign key violations**: If the record with `Scode = 0` did not exist in the `Supplier` table, any reference to this default value in the `Offers` table would result in a foreign key constraint violation. By ensuring that this record exists, we can safely rely on the default value and maintain the relationship between `Offers` and `Supplier` even when specific suppliers are deleted.

### Important Consideration:

- **Always ensure the record with `Scode = 0` exists**: If this record is deleted or absent in the `Supplier` table, the integrity of the `Offers` table will be compromised. Any `Offers` records referencing `Scode = 0` would violate the foreign key constraint, causing errors during data operations.

By establishing this default supplier record and using the `ON DELETE SET DEFAULT` constraint, we maintain referential integrity while allowing for flexibility in how suppliers are managed in the database.

## Task 2 - Modify the `Product` foreign key references in other tables to implement `ON DELETE CASCADE` and `ON UPDATE CASCADE`.

In [ ]:
ALTER TABLE dbo.Offers
DROP CONSTRAINT fk_product;

GO

ALTER TABLE dbo.Offers
ADD CONSTRAINT fk_product FOREIGN KEY(Pcode, TypeCode) REFERENCES dbo.Product(Pcode, TypeCode)
ON DELETE CASCADE ON UPDATE CASCADE;

## Task: Testing Referential Integrity with the Added Constraints

In this task, we will test the referential integrity of the database by performing a delete operation on a supplier. Specifically, we will delete the supplier with the name "Supplier C" and observe how the database responds based on the constraints that have been added.

### Purpose of the Test:
The goal is to verify that the database handles the deletion of a supplier correctly, ensuring that the related records in the other tables are properly updated or deleted, as specified by the constraints:

- **ON DELETE SET DEFAULT**: When a supplier is deleted, any references to that supplier in other tables should be updated to the default value (`Scode = 0`), as set in the `Supplier` table.
- **ON UPDATE CASCADE**: If the supplier code (`Scode`) was updated, it should reflect in all the referenced tables automatically.
  
By performing this test, we will ensure that the foreign key relationships maintain the integrity of the database, preventing orphaned records or foreign key violations.

### Task Steps:
1. **Delete the Supplier**: We will delete the supplier with the name "Supplier C" from the `Supplier` table.
2. **Observe the Changes**: After the delete operation, we will check the related tables (e.g., `Offers`, `Product`) to see how they handle the deletion of "Supplier C".
   - The `Scode` in the `Offers` table should be updated to `0` for any rows referencing "Supplier C".
   - Any rows in other tables referencing the deleted `Scode` should either be updated or deleted, depending on the defined constraints.
   
This test will confirm that the referential integrity constraints are working as expected in the database.

In [59]:
/*

Before deleting an item (row) from the Supplier table, let's check the current situation
in both the Supplier and Offers tables to see the existing data.

*/

-- Query the Supplier table to view its current records
SELECT * FROM dbo.Supplier;
GO

-- Query the Offers table to view how the Supplier data is referenced
SELECT * FROM dbo.Offers;

Scode,Name,Balance,City
101,SupplierA,101011,Skopje
102,Supplier B,20000,Los Angeles
103,Supplier C,12000,Chicago
104,Supplier D,18000,Houston
105,Supplier E,25000,Phoenix

Scode,Pcode,TypeCode,quantityOrdered,dateOrder,quantityDelivered,dateDelivered
101,10001,1,100,2023-01-10 00:00:00.000,90,2023-01-15 00:00:00.000
102,10002,2,150,2023-02-20 00:00:00.000,150,2023-02-25 00:00:00.000
103,10003,3,200,2023-03-15 00:00:00.000,180,2023-03-22 00:00:00.000
104,10004,4,250,2023-04-10 00:00:00.000,230,2023-04-17 00:00:00.000
105,10005,5,300,2023-05-05 00:00:00.000,290,2023-05-12 00:00:00.000

Example operations to check if the constraints are working (Remove Supplier C from suppliers table)

In [64]:
/*

-- Delete the record from the Supplier table only if it exists
IF EXISTS (SELECT 1 FROM dbo.Supplier WHERE [Name] LIKE 'Supplier C')
BEGIN
    DELETE FROM dbo.Supplier WHERE [Name] LIKE 'Supplier C';
END;

*/

DELETE dbo.Supplier
WHERE [Name] LIKE 'Supplier C';
GO
SELECT *
FROM dbo.Offers

Scode,Pcode,TypeCode,quantityOrdered,dateOrder,quantityDelivered,dateDelivered
0,10003,3,200,2023-03-15 00:00:00.000,180,2023-03-22 00:00:00.000
101,10001,1,100,2023-01-10 00:00:00.000,90,2023-01-15 00:00:00.000
102,10002,2,150,2023-02-20 00:00:00.000,150,2023-02-25 00:00:00.000
104,10004,4,250,2023-04-10 00:00:00.000,230,2023-04-17 00:00:00.000
105,10005,5,300,2023-05-05 00:00:00.000,290,2023-05-12 00:00:00.000

## Explanation of the ON DELETE SET DEFAULT Constraint and Its Impact on the Offers Table

In the scenario where we delete the supplier 'Supplier C' from the `Supplier` table, the `ON DELETE SET DEFAULT` constraint ensures that any records in the `Offers` table that reference 'Supplier C' are updated with the default supplier ID, which is `0` (the record with `Scode = 0` in the `Supplier` table).

### Step-by-Step Process:

1. **Current Data in the Supplier Table**:
    The `Supplier` table contains the following record for 'Supplier C':
    
    | Scode | Name         | Balance  | City        |
    |-------|--------------|----------|-------------|
    | 103   | Supplier C   | 12000    | Chicago     |

2. **Current Data in the Offers Table**:
    The `Offers` table contains the following record where 'Supplier C' is referenced by `Scode = 103`:
    
    | Scode | Pcode | TypeCode | quantityOrdered | dateOrder  | quantityDelivered | dateDelivered |
    |-------|-------|----------|-----------------|------------|-------------------|---------------|
    | 103   | 10003 | 03       | 200             | 2023-03-15 | 180               | 2023-03-22    |

3. **Effect of Deleting Supplier C**:
    When we delete 'Supplier C' from the `Supplier` table, the `ON DELETE SET DEFAULT` constraint automatically updates any rows in the `Offers` table that referenced 'Supplier C' (where `Scode = 103`) to set the `Scode` value to `0`. This is the default value for a supplier in the `Supplier` table.

4. **Result After Deletion**:
    After the deletion of 'Supplier C', the `Offers` table will be updated, and the `Scode` for the offer where 'Supplier C' was previously referenced will now be `0`, linking the offer to the default supplier. The updated `Offers` table will look like this:
    
    | Scode | Pcode | TypeCode | quantityOrdered | dateOrder  | quantityDelivered | dateDelivered |
    |-------|-------|----------|-----------------|------------|-------------------|---------------|
    | 0     | 10003 | 03       | 200             | 2023-03-15 | 180               | 2023-03-22    |

    This ensures that no data is left orphaned in the `Offers` table, and all records remain consistent, as the offer is now linked to the default supplier (`Scode = 0`).

### Conclusion:
The `ON DELETE SET DEFAULT` constraint helps maintain referential integrity in the database by ensuring that when a supplier is deleted, any associated offers are automatically reassigned to a default supplier. In this case, deleting 'Supplier C' from the `Supplier` table causes the `Scode` in the `Offers` table to be updated to `0`, the default supplier ID. This behavior can be observed in the tables before and after the deletion process, ensuring that there are no orphaned records and that the database maintains its integrity.

## Understanding the `GO` Statement in MS SQL

In Microsoft SQL Server, the `GO` statement is a batch separator used in SQL scripts to indicate the end of a batch of Transact-SQL statements. It is not a Transact-SQL command itself but is interpreted by SQL Server Management Studio (SSMS) or other SQL tools to signal the end of a batch.

### Purpose of `GO`
The `GO` statement allows you to separate multiple SQL statements into distinct batches that can be executed independently. Each batch can have its own set of declarations, variables, or other operations, and it will be sent to the SQL Server for execution when the `GO` command is encountered.

### Key Points About `GO`:
- **Batch Separator**: `GO` divides a SQL script into one or more batches.
- **Not Part of T-SQL**: Unlike other SQL commands (such as `SELECT`, `INSERT`, or `UPDATE`), `GO` is not part of the T-SQL language itself. It is processed by the query tool (like SSMS) and not by the SQL Server engine.
- **Execution Context**: When you execute a batch, the SQL Server engine processes each batch independently. This means that variables, temporary tables, and certain other objects created in one batch are not accessible in subsequent batches.

### Usage of `GO`:
- **Separating Multiple Statements**: If you have a script with several SQL statements, you can separate them using `GO`. Each `GO` command starts a new batch for execution.
  
- **Handling Errors**: If a statement within a batch fails, only that batch will be rolled back. Other batches will continue executing.

- **Scope of Variables**: Variables declared in one batch are not accessible in other batches. If you need to share variables between batches, you must declare and set them in each batch individually.

### Example:
```sql
-- First Batch: Create a new table
CREATE TABLE Products (ProductID INT, ProductName VARCHAR(100));
GO

-- Second Batch: Insert data into the Products table
INSERT INTO Products (ProductID, ProductName) VALUES (1, 'Laptop');
GO

-- Third Batch: Query the table to see the data
SELECT * FROM Products;
GO
```

In the example above, the script is divided into three batches:

1. **Creating the Products table**.
2. **Inserting data into the table**.
3. **Querying the table to view the inserted data**.

Each `GO` statement ends the current batch and signals the SQL Server to execute it before moving on to the next.

### Important Notes:
- **Not Needed for Every Statement**: You do not need to use `GO` after every SQL statement. It is typically used to separate logically distinct operations that need to be processed independently.
- **Impact on Transactions**: `GO` will commit all changes made in a batch if the batch completes successfully, but it will not affect transactions that are explicitly started and managed with `BEGIN TRANSACTION`, `COMMIT`, and `ROLLBACK`.

### Conclusion:
The `GO` statement is a helpful tool for organizing and managing SQL scripts, particularly when working with multiple independent SQL commands in a single file. It provides the necessary separation of batches for clarity, scope management, and error handling in SQL Server environments.